h1 {
    font-family: "Playfair Display", serif;
}

.jumbotron {
    text-align: center;
}

.form {
    background-color: #eee;
    padding: 20px;
    margin: 20px auto;
}

.article-well {
    background-color: #eee;
    padding: 20px;
    margin: 20px auto;
}