/* Main Styles */

body {
    font-family: "Georgia", serif;
    color: #000;
}

h1, h2 {
    font-family: "Ultra", "Playfair Display", serif;
    padding: 20px 0;
}

h4, h3 {
    font-weight: bold;
}

a {
    color: #000;
}

a:hover, a:visited {
    color: #333;
    text-decoration: none;
}

/* Panel Body Styles */

.panel-body {
    background-color: #fff;
}

/* Search form */

.btn-form {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 6px;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid #ddd;
}

.btn-form:hover {
    background-color: #ddd;
}

/* Article Results */
.article-well, .article {
    background-color: #f5f5f5;
    padding: 20px;
    margin: 20px auto;
    border-radius: 6px;
    border: 1px solid #ddd;
}

.article-well, .article:hover {
    background-color: #ddd;
    cursor: pointer;
}

/* Footer */
#NYT-branding {
    padding-bottom: 20px;
}

footer {
    text-align: center;
    padding: 20px;
}